{{#ui-sortable
  content=model.sortable
  moved=(action "contentMoved")
  class="list-group"
  as |item|
}}
  <li class="list-group-item">{{item}}</li>
{{/ui-sortable}}

<hr>

<ul class="list-group">
  {{#ui-draggable
    connectToSortable=".draggable-target"
    revert="invalid"
    helper="clone"
    appendTo="body"
    tagName="li"
    classNames="list-group-item"
  }}
    Drag me to the list below!
  {{/ui-draggable}}
</ul>
<br>

{{#ui-sortable
  content=model.draggable
  moved=(action "contentMoved")
  class="list-group draggable-target"
  inserted=(action "addElement")
as |item|
}}
  <li class="list-group-item">{{item}}</li>
{{/ui-sortable}}

<hr>

{{#ui-sortable
  connectWith=".connected-list-group-bottom"
  content=model.sortable
  moved=(action "contentMoved")
  class="list-group connected-list-group-top"
as |item|
}}
    <li class="list-group-item">{{item}}</li>
{{/ui-sortable}}

{{#ui-sortable
  connectWith=".connected-list-group-top"
  content=model.sortable
  moved=(action "contentMoved")
  class="list-group connected-list-group-bottom"
as |item|
}}
    <li class="list-group-item">{{item}}</li>
{{/ui-sortable}}